<template>
    <div>
        <div class="alert alert-danger" v-if="error && !success">
            <p>Error.</p>
        </div>
        <div class="alert alert-success" v-if="success">
            <p>Registro Completo.<router-link :to="{name:'login'}">Salir.</router-link></p>
        </div>
        <form autocomplete="off" v-on:submit="register" v-if="!success">
            <div class="form-group col-md-12" v-bind:class="{ 'has-error': error && errors.nombre }">
                <label for="name">Nombre(s)</label>
                <input type="text" id="name" class="form-control" v-model="nombre" required>
                <span class="help-block" v-if="error && errors.name">{{ errors.name }}</span>
            </div>
             <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="apelledoM">Apellido Paterno</label>
                    <input type="text" class="form-control" v-model="paterno" placeholder="Apellido Paterno" >
                </div>
                <div class="form-group col-md-6">
                    <label for="apellidoM">Apellido Materno</label>
                    <input type="text" class="form-control" v-model="materno" placeholder="Apellido Materno" >
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="genero">Genero</label>
                    <select v-model="genero" class="form-control">
                    <option value disabled selected>Selecciona una opción</option>
                    <option v-for="genero in arrayGenero" :key="genero.id" :value="genero.id" v-text="genero.genero"></option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="edad">Edad</label>
                    <input type="number" class="form-control" v-model="edad" placeholder="Edad" />
                </div>
                <div class="form-group col-md-4">
                    <label for="civil">Estado civil</label>
                    <select v-model="civil" class="form-control">
                    <option value disabled selected>Selecciona una opción</option>
                    <option v-for="civil in arrayCivil" :key="civil.id" :value="civil.id" v-text="civil.estado"></option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-12" v-bind:class="{ 'has-error': error && errors.email }">
                <label for="email">E-mail</label>
                <input type="email" id="email" class="form-control" placeholder="user@example.com" v-model="email" required>
                <span class="help-block" v-if="error && errors.email">{{ errors.email }}</span>
            </div>
            <div class="form-group col-md-12" v-bind:class="{ 'has-error': error && errors.password }">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" v-model="password" required>
                <span class="help-block" v-if="error && errors.password">{{ errors.password }}</span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="nivel">Nivel de interes</label>
                    <select v-model="nivel" class="form-control">
                    <option value disabled selected>Selecciona una opción</option>
                        <option v-for="nivel in arrayNivel" :key="nivel.id" :value="nivel.id" v-text="nivel.nivel"></option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</template>

<script> 
import axios from 'axios';
    export default {
        
        data(){
            return {
                nombre: '',
                paterno: "",
                materno: "",
                genero: "",
                edad: "",
                civil: "",
                email: "",
                password: "",
                nivel: "",
                nivelLic: "",
                nivelPos: "",
                arrayGenero : {},
                arrayCivil : {},
                arrayNivel : {},
                error: false,
                errors: {},
                success: false
            };
        },
         mounted(){
     // invocar los métodos
     this.selGenero();
     this.selCivil();
     this.selNivel()
    },

        methods: {
            register(){
                var app = this
                this.$auth.register({
                    params: {
                        nombre: app.nombre,
                        paterno: app.paterno,
                        materno: app.materno,
                        genero: app.genero,
                        edad: app.edad,
                        civil: app.civil,
                        email: app.email,
                        nivel: app.nivel,
                        nivelLic: app.nivelLic,
                        nivelPos: app.nivelPos,
                        password: app.password
                    }, 
                    success: function () {
                        app.success = true
                    },
                    error: function (resp) {
                        app.error = true;
                        app.errors = resp.response.data.errors;
                    },
                    redirect: null
                });                
            },
             selGenero() {
                let me = this;
                var url = "/genero/genero";
                axios
                    .get(url)
                    .then(function(response) {
                    var respuesta = response.data;
                    me.arrayGenero = respuesta.generos;
                    })
                    .catch(function(error) {
                    console.log(error);
                    });
                },

            selCivil() {
            let me = this;
            var url = "/civil/civil";
            axios
                .get(url)
                .then(function(response) {
                var respuesta = response.data;
                me.arrayCivil = respuesta.estados;
                })
                .catch(function(error) {
                console.log(error);
                });
            },
            selNivel() {
            let me = this;
            var url = "/nivel/nivel";
            axios
                .get(url)
                .then(function(response) {
                var respuesta = response.data;
                me.arrayNivel = respuesta.niveles;
                })
                .catch(function(error) {
                console.log(error);
                });
            }
        }
    }
</script>
